#login-page {
  background: url('../../assets/background.svg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;
}

.login-page-content {
  margin-left: 6.625rem;
  max-width: 28.125rem;
}

.page-wrong-credentials img {
  position: absolute;
  transform: translate(1rem, 1.015rem) scale(1);
}

.page-wrong-credentials span {
  margin-top: 1.5rem;
  padding: 1rem;

  border-radius: 0.25rem;
  max-width: 14.93rem;
  max-height: 2.7rem;

  background: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  line-height: 1rem;

  position: absolute;
  transform: translate(0, 0) scale(1);
}

.page-title {
  margin-bottom: 3.75rem;
}

.page-title :first-child {
  font-weight: bold;
  font-size: 2.1rem;
}

.page-title :last-child {
  font-weight: 300;
  font-size: 1.75rem;
  margin-left: 1.03rem;
}

.page-inputs {
  display: flex;
  flex-direction: column;
}

.page-inputs input {
  height: 3.3rem;
  outline: 0;
  border: 0;
  background: rgba(000, 000, 000, 0.32);
}

.input-password {
  margin-top: 1rem;
}

.input-email,
.input-password {
  position: relative;
}

.input-email input,
.input-password input {
  width: 22rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 0 0 1rem;
  color: #fff;
}

.input-email label,
.input-password label {
  position: absolute;
  transform: translate(1rem, 0.5rem) scale(1);
  font-size: 0.75rem;
}

.input-password button {
  background: #fff;
  border: none;
  height: 2.25rem;
  width: 5.3125rem;
  border-radius: 2.75rem;

  color: #b22e6f;
  font-size: 1rem;
  font-weight: bold;

  position: absolute;
  transform: translate(-6rem, 0.8rem) scale(1);

  cursor: pointer;
}

@media (max-width: 45rem) {
  #home-page {
    margin: auto;
    padding: 0 1rem;
  }

  .login-page-content {
    margin: auto;
    max-width: 28.125rem;
  }

  .input-email input,
  .input-password input {
    width: auto;
    min-width: 17rem;
  }
}
