* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

body,
input,
button,
textarea {
  font: 400 1rem Heebo;
}
